# Ignore Python virtual environments
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore node_modules (if using Node.js)
node_modules/

# Ignore large files or directories
packages/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.venv
