<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapSort</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">#}
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <a class="logo" href="#"><img src="{{ url_for('static', filename='logo.png') }}" alt="Snapsort logo"></a>
        <div class="menus">
            <a href="help.html" class="menu">Help</a>
            <a href="about.html" class="menu">About</a>
            <a href="login.html" class="menu">Log In</a>
            <a href="signup.html" class="menu">Sign Up</a>
        </div>
    </nav>
    <div class="body">
        <div class="sidebody">
            <!-- Form for file upload -->
            <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="uploadFile" name="files[]" multiple>
                <label for="uploadFile">UPLOAD FILE</label>
            </form>

            <!-- Form for collapsing the sidebar -->
            <form id="collapse-form" action="/collapse" method="post">
                <button type="button" id="collapse" onclick="collapse()">
                    <img id="left" src="{{ url_for('static', filename='arrow-left-sidebar.png') }}" alt="left-sidebar-icon">
                    <img id="right" src="{{ url_for('static', filename='arrow-right-sidebar.png') }}" alt="right-sidebar-icon">
                </button>
            </form>

            <!-- User Input Form -->
            <form action="/sort" method="post">
                <div class="category">
                    <p class="category-label">User Input</p>
                    <input type="checkbox" name="blurriness" id="blur" value="on"><label for="blur">Blurriness</label><br>
                    <input type="checkbox" name="lighting" id="lighting" value="on"><label for="lighting">Apply Lighting Filter</label>
                </div>
                <div class="category">
                    <p class="category-label">Orientation</p>
                    <input type="radio" name="orientation" id="port" value="portrait"><label for="port">Portrait</label><br>
                    <input type="radio" name="orientation" id="land" value="landscape"><label for="land">Landscape</label>
                </div>
                <div class="category">
                    <p class="category-label">Objects</p>
                    <select name="objects-dropdown" id="obj-dropdown">
                        <option value="obj1">Object 1</option>
                        <option value="obj2">Object 2</option>
                        <option value="obj3">Object 3</option>
                        <option value="obj4">Object 4</option>
                    </select>
                </div>
                <div class="category">
                    <p class="category-label">Number of people</p>
                    <input type="range" name="number-people" id="num-people" max="20" min="0" value="0">
                    <input type="number" id="number-people-label" name="number-people-label" max="20" min="0" value="0">
                </div>
                <div class="category">
                    <p class="category-label">Facial Detection</p>
                    <input type="checkbox" name="facial-detection" id="face-det" value="on"><label for="face-det">Apply Facial Detection</label>
                </div>
                <button type="submit" class="sort">SORT</button>
            </form>

            <!-- Form for deleting all images -->
            <form id="delete-all-form" action="/delete_all" method="post">
                <button type="submit" class="delete">DELETE ALL</button>
            </form>
        </div>
        <div class="mainbody">
            {% if session.get('uploaded_files') %}
                <div class="uploaded-images">
                    {% for image_path in session['uploaded_files'] %}
                        <img src="{{ url_for('static', filename='uploads/' ~ image_path) }}" class="preview" alt="Uploaded Image">
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>